EMG-EPN612 Dataset/
models/18f/calibrated_users/
models/18f/halving_checkpoints/
*.joblib
*_best_halving.json
preprocessed_output/
preprocessed_users/
__pycache__/
*.npz
datasets/dataset_A.pkl
datasets/dataset_B.pkl
